/* --------- HEADER -------- */
#header {
  padding: 2px;
  bottom: #333;
  color: #ffffff;
}
/* ------- Menu -------- */
/* setting background menu */
ul#main-menu {
  background: #333;
}
/* -------Search-------- */

/* ------- CONTENT -------- */
